*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    margin-right: 0;
    
}

.brandlogo{
    display: flex;
    height: 7rem;
    
}
.Navi ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    background-color: #333;
    height: 3px;
    width: 25px;
    margin: 3px 0;
}

@media screen and (max-width: 600px) {
    
    .brandlogo {
        position:relative;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1000; /* Ensure that the logo stays on top of other elements */
    }
    .Navi ul {
        display: none;
        flex-direction: column;
        margin-right: 4rem;
    }
    
    .Navi ul.active {
        display: flex;
        animation: fadeIn 1s ease; /* Add fade-in animation */
    }
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .menu-icon {
        display: flex;
        position:absolute;
        left: 10px; 
        top: 58px; 
        z-index: 999;
    }
    .hero-content {
        background-image: url('assets/HeroImage.jpg');
        background-size: cover;
        background-attachment: fixed; /* Keeps the background image fixed */
        background-position: center;
        color: black;
        text-align: center;
        /* height: 70vh; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


.Navi{
  font-size: 1.2rem; 
  margin-right: 10rem; 
}
.nav-item {
    margin-right: 2rem; 
}
.hero-content {
    background-image: url('assets/HeroImage.jpg'); 
    background-size: cover;
    background-position: center;
    color: black;
    text-align: center;
    height: 70vh; 
    display: flex;
    margin-left: 2%;
    margin-right: 2%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-content > h1{
    font-size: 4rem;
}

.hero-content > p{
    font-size: 1.5rem;
    color:black;
    font-style: italic;
}

@media screen and (max-width: 600px){


    .hero-content > h1{
        font-size: 2rem;
    } 

    .hero-content > p{
        font-size: 1rem;
        color:black;
        font-style: italic;
    }
}
    

.about-img-container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 3rem;
    margin-top: 8rem;
    position: relative;
    margin-left: 1rem;
    
}
.about-img{
    height: 680px;
}
.text{
    position:absolute;
    top:0;
    left: 0;

}

.text > p{
    color: red;
    
}
.content-section-desc{
    margin-top: 1rem;
    margin-left: 2%;

}

.content-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
@media screen and (max-width:600px){
    .content-section{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

    
}
.box{
    height: 250px;
    width: 28%;
    background-color: brown;
    padding: 2rem 0 1.5rem;
    margin-top: 1rem;
}

.box-image{
    height: 200px;
    width: 10px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;  
} 

@media screen and (max-width:600px){
    .content-section{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    .box{
        height: 250px;
        width: 75%;
        background-color: rgb(165, 124, 42);
        padding: 2rem 0 1.5rem;
        margin-top: 1rem;
    }
    
    .box-image{
        height: 200px;
        width: 10px;
        background-size: cover;
        margin-top: 1rem;
        margin-bottom: 1rem;  
    } 
    
}



.Lunch-bg-image{
    margin-top: 2rem;
    background-image: url('./assets/lunch-bg-image.jpg');
    background-size: cover;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.Lunch-box{
    height: 400px;
    /* width: 700px; */
    background-color: wheat;
    margin-left: 500px;
    text-align: center;
    border-radius: 50%;
    margin-bottom: 15rem;
}
  


.lunch-paragraph p{
 color: red;
 margin-top: 8rem;
}


@media screen and (max-width: 600px) {
    
    .Lunch-bg-image{
        display: none;
    }
    .lunch-paragraph{
        display: none;
    }
    .Lunch-box{
        display: none;
    }

}

.footer-container{
    margin-top: 40px;
    margin-left: 20px;
    display: flex;
    height: 250px;
    width: 100%;
    
    
    
}

.contact-info{
    margin-left: 150px;
    margin-top: 30px;
}

.opening-time{
    margin-left: 250px;
    margin-top: 30px;
}


@media screen and (max-width: 600px) {
    .footer-container {
        flex-direction: column; /* Stack items vertically on smaller screens */
        align-items: center;
        justify-content: center;
        
    }

    .contact-info,
    .opening-time {
        margin-top:10px;
        margin-left: 0; /* Remove left margin on smaller screens */
        text-align: center; /* Center text on smaller screens */
        width: 100%; /* Take up full width on smaller screens */
    }
}



footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}




/* About Us page */
.about-us {
   
    border: 2px solid #000; /* Border style, adjust as needed */
    padding: 30px; /* Add some padding inside the box */
    max-width: 1200px; /* Set a maximum width for the box, adjust as needed */
    margin: 0 auto; /* Center the box horizontally */
    
}

.about-us-heading {
    text-align: center; /* Center the heading */
    font-weight: bolder;
}

.about-us p {
    /* Additional styles for the paragraph, adjust as needed */
    font-size: 20px;
    line-height: 1.5;
}

/* Lounas Menu */

.Allmenus{
    display: flex;
    flex-wrap: wrap;
}
.MaanantaiMenu{
    margin-left: 15px;
}

.TiistaiMenu{
    margin-left: 80px;
    
    
}
.KeskiviikkoMenu{
    
    margin-left: 15px;
}

.TorstaiMenu{
    margin-left: 80px;
    
}
.PerjantaiMenu{
    margin-left: 15px;
}


@media screen and (max-width: 600px) {
    .TiistaiMenu,.TorstaiMenu{
        margin-left: 20px;
        margin-top: 20px;
    }

    .KeskiviikkoMenu{
        margin-top: 20px;
    }

    .PerjantaiMenu{
        margin-top: 20px;
    }


}

























